<%- layout("/layouts/boilerplate") %>
<div class="row">
    <div class="col-6 offset-3">
        <div class="alert alert-danger" role="alert">
            <h4 class="alert-heading"><%= err.message %> Error!!! </h4>
            <p><%= err.message %></p>
            <p class="mb-0">Whenever you need to be sure to <a href="/campgrounds">Go back</a></p>
            <% if ( process.env.NODE_ENV != "production" ) { %>
                <P><%= err.stack %></P>
            <% } %>
            <p><%= err.stack %></p>
        </div>
    </div>
</div>
