<%- layout("/layouts/boilerplate") %>
<h1 class="text-center">Edit Campground</h1>
<div class="row ">
    <form action="/campgrounds/<%= Camp._id %>?_method=put" method="post" novalidate class="d-inline needs-validation" enctype="multipart/form-data">
        <div class="col-6 offset-3">
            <div class="mb-3">
                <label for="title" class="form-label">Title</label>
                <input type="text" class="form-control" name="campground[title]" value="<%= Camp.title %>" id="title" required>
                <div class="valid-feedback">
					Looks good!
				</div>
				<div class="invalid-feedback">
					Don't looks good!
				</div>
            </div>
            <div class="mb-3">
                <label for="location" class="form-label">Location</label>
                <input type="text" class="form-control" name="campground[location]" id="location" value="<%= Camp.location %>" required>
                <div class="valid-feedback">
					Looks good!
				</div>
				<div class="invalid-feedback">
					Don't looks good!
				</div>
            </div>
            <div class="mb-3">
                <label for="price" class="form-label">Price</label>
                <div class="input-group">
                    <span class="input-group-text">$</span>
                    <input type="text" class="form-control" id="price" name="campground[price]" aria-label="Amount (to the nearest dollar)" value="<%= Camp.price %>" required>
                    <span class="input-group-text">.00</span>
                    <div class="valid-feedback">
                        Looks good!
                    </div>
                    <div class="invalid-feedback">
                        Don't looks good!
                    </div>
                </div>
            </div>
            <div class="mb-3">
                <label for="description" class="form-label">Description</label>
                <textarea type="textarea" class="form-control" rows="3" name="campground[description]" id="description" required><%= Camp.description %></textarea>
                <div class="valid-feedback">
					Looks good!
				</div>
				<div class="invalid-feedback">
					Don't looks good!
				</div>
            </div>
            <div class="mb-3" >
                <label for="imageurl" class="form-label">Add more images</label>
                <input type="file" class="form-control" name="image" multiple id="imageurl" value="<%= Camp.image %>" >
                <div class="valid-feedback">
                    Looks good!
                </div>
                <div class="invalid-feedback">
                    Don't looks good!
                </div>
            </div>
            <div class="mb-3" >
                <% Camp.images.forEach((ele , i)=>{ %>
                    <div class="row d-flex">
                        <div class="col-2  align-self-center">
                            <input class="form-check-input" type="checkbox" value="<%= ele.filename %>" name="deleteImages[]" id="image-<%= i %>">
                            <label class="form-check-label" for="image-<%= i %>">
                                Delete
                            </label>
                        </div>
                        <div class="col-10">
                            <!-- <img src="<%= ele.thumbnail %>" alt="" class="img-thumbnail"> -->
                            <img src="<%= ele.url %>" alt="" class="img-thumbnail">
                        </div>
                    </div>
                <% }) %>   
            </div>
            <div class="mb-3 text-center">
                <button type="submit" class="btn btn-success">Update Campground</button>
                <a href="/campgrounds/<%= Camp._id %>" class="btn btn-outline-success ms-4">Back to Campground</a>
        </div>
    </form>
</div>


