<% if (currentUser) { %>
<h2>Leave a Review</h2>
<form action="/campgrounds/<%= Camp._id %>/reviews" method="POST" class="mb-3 needs-validation" novalidate>
    <div class="mb-3">
        <label for="rating" class="form-label">
            Rating
        </label>
        <input type="range" name="review[rating]" class="form-range" min="1" max="5"  id="rating" required>
    </div>
    <div class="mb-3">
        <label for="body" class="form-label">
            Review
        </label>
        <textarea name="review[body]" id="body" class="form-control" cols="20" rows="3" required></textarea>
        <div class="invalid-feedback">
            Review Can't be empty
        </div>
    </div>
    <button class="btn btn-success">Submit</button>
</form>
<% } %>
<% for(let review of Camp.review) { %>
    <div class="mb-3 card">
        <div class="card-body">
            <h5 class="card-title">Rating : <%= review.rating %></h5>
            <p class="card-text mb-2">Review : <%= review.body %></p>
            <div class="card-subtitle text-body-secondary mb-2">By <%= review.author.username %></div>
            <% if (currentUser && review.author.equals(currentUser._id)) { %>
                <div class="text-body-secondary">
                    <form action="/campgrounds/<%= Camp._id %>/reviews/<%= review._id %>?_method=delete" method="POST">
                        <button class="btn btn-sm btn-outline-danger">Delete</button>
                    </form>
                </div>
            <% } %>
        </div>
    </div>
<% } %>