<%- layout("/layouts/boilerplate") %>
<h1><%= Camp.title %></h1>
<h3><%= Camp.location %></h3>
<div><a href="/campgrounds/<%= Camp._id %>/edit">Edit Campground</a></div>
<a href="/campgrounds">All Campgrounds</a>
<div>
    <form action="/campgrounds/<%= Camp._id %>?_method=DELETE" method="post">
        <input type="submit" value="Delete Camp">
    </form>
</div>
